body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.ballsAttr {
  background-color: aquamarine;
  width: 120px;
 }

 #ballsForm {
  background-color:rgb(6, 250, 148);
  width: 325px;
}

h1{
  color: rgb(5, 138, 247);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}